.active{
    font-weight: bold;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.progress {
  /* Zabezpečí, že progress bar bude úplne hore a neposunie obsah nižšie */
  height: 4px;
  background-color: transparent; /* Aby nepôsobil rušivo */
}

.progress-bar {
  /* Môžeš si upraviť farbu, ak chceš inú než default modrú */
  background-color: var(--bs-primary);
}