<div class="sidebar d-flex flex-column p-3" [class.collapsed]="isCollapsed()" style="width: 280px; height: 100vh;">

  <div class="auth-controls d-flex flex-column gap-2 mb-3">

    <button class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center w-100 py-2"
      [title]="theme() === 'light' ? 'Dark' : 'Light'" (click)="themeService.toggleTheme()">
      <i class="bi" [ngClass]="theme() === 'light' ? 'bi-moon' : 'bi-sun'"></i>
      @if (!isCollapsed()) {
      <span class="ms-2 small fw-medium text-truncate">
        {{ theme() === 'light' ? 'Dark' : 'Light' }}
      </span>
      }
    </button>

    <button class="btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center w-100 py-2"
      title="Logout" (click)="onLogout()">
      <i class="bi bi-box-arrow-right"></i>
      @if (!isCollapsed()) {
      <span class="ms-2 small fw-medium text-truncate">Logout</span>
      }
    </button>

  </div>


  <ul class="nav nav-pills flex-column mb-auto">

    @for (item of groupedMenu().flatItems; track item.id) {
    <li class="w-100 nav-item">
      <a [routerLink]="item.route" (click)="toggleCategory(item.category)" class="nav-link d-flex align-items-center"
        routerLinkActive="active-item">

        <i class="bi bi-speedometer2 me-2"></i>

        @if(!isCollapsed()){
        <span class="menu-text">
          {{ item.title }}
        </span>
        }
      </a>

    </li>
    }

    <hr>

    @for (group of groupedMenu().categories; track group[0]) {
    @let categoryName = group[0];
    @let items = group[1];
    @let isOpen = openCategory() === categoryName && !isCollapsed();


    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 w-100 text-start category-btn"
        (click)="!isCollapsed() && toggleCategory(categoryName)" [class.collapsed]="!isOpen">

        <i class="bi bi-chevron-right me-2 transition-icon"
          [style.transform]="isOpen ? 'rotate(90deg)' : 'rotate(0deg)'"></i>

        <span class="menu-text">{{ categoryName }}</span>
      </button>

      <div class="category-content" [class.open]="isOpen">
        <ul class="btn-toggle-nav list-unstyled p-0">
          @for (subItem of items; track subItem.id) {
          <li>
            <a [routerLink]="subItem.route" routerLinkActive="active-item"
              class="nav-link-custom d-flex align-items-center w-100">

              <span class="indent-spacer"></span>
              <span class="menu-text">{{ subItem.title }}</span>
            </a>
          </li>
          }
        </ul>
      </div>
    </li>
    }
  </ul>

  <div class="mt-auto pt-3">
    <button class="collapse-btn" (click)="toggleSidebar()">
      <i class="bi" [ngClass]="isCollapsed() ? 'bi-arrow-right-square' : 'bi-arrow-left-square'"></i>
    </button>
  </div>
</div>