<div>
    <div class="row text-center">
        <div class="col-12 m-3">
            <h3>Example of *ngIf vs if</h3>
        </div>
    </div>
    <div>
        <div>
            <input type="text" class="m-1" [(ngModel)]="input1">
            <input type="text" [(ngModel)]="input2">
        </div>
        @if(input1 !== input2){
        <p>Both values are not equal</p>
        }@else if(input1 === input2){
        <p>Both values are equal</p>
        }
    </div>

    <div class="row text-center">
        <div class="col-12 m-3">
            <h3>Example of *ngFor vs for</h3>
        </div>
    </div>
    <div>
        <div class="col-4">
            <select name="" id="" class="p-2">
                <!-- <option [value]="emp.empNumber" *ngFor="let emp of employees">
                {{emp.empName}} - {{emp.empEmail}}
            </option> -->
                @for(emp of employees; track emp;let f=$first, l=$last, e= $even, o=$odd, c=$count, i=$index){
                <option [value]="emp.empNumber">
                    {{emp.empName}} - {{emp.empEmail}}
                </option>
                }
            </select>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12 m-3">
            <h3>Example of *ngSwitch vs switch</h3>
        </div>
    </div>
    <div>
        <div>STATUS: {{status()}} ==
            @switch(status()){
            @case('hidden')
            @case('draft'){
            <span class="p-2">Your document is not yet published</span>
            }
            @case('pending'){
            <span class="p-2">Your document is pending</span>
            }
            @case('published'){
            <span class="p-2">Your document is live</span>
            }
            @default{
            <span class="p-2">Unknown status</span>
            }
            }
        </div>

        <div class="col-12 m-3">
            <h3>Spread operator inside templates</h3>
        </div>
        <div class="m-3">
            @let allNotes = [...listTodos()];
            <ul>
                @for(note of allNotes; track note.id){
                <li>{{ note.id }} {{ note.title }}</li>
                }
            </ul>

        </div>
    </div>
</div>